body {
	background-color: #ccc;
}
h2 {
	margin-top: 80px;
	margin-bottom: -5px;
}
hr {
	width: 50px;
	height: 7px;
	border-radius: 5px; 
	background-color: #999;
}
label {
	font-weight: bold
}
.card {
	border-radius: 0;
}
.logo {
	width: 84.5px;
	height: 50px;
}
.logo-login {
	width: 177.5px;
	height: 100px;
}
.btn-register {
	border: 2px #ccc dashed;
	color: #bbb;
}
.btn-register:hover {
	border: 2px #999 dashed;
	color: #888;
}
.btn-register:focus {
	box-shadow: none;
}